{{ $doguSelector := .Values.global.networkPolicies.doguSelector }}
{{ $agentSelector := .Values.global.networkPolicies.agentSelector }}
{{ $releaseNamespace := .Release.Namespace }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: agent-to-jenkins
spec:
  podSelector: {{ $doguSelector | toYaml | nindent 4 }}
  policyTypes:
    - Ingress
  ingress:
    - from:
      {{- range .Values.namespaces.names }}
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: {{ . }}
        podSelector: {{ $agentSelector | toYaml | nindent 10 }}
      {{- end }}
---
{{ range .Values.namespaces.names }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: jenkins-to-agents
  namespace: {{ . }}
spec:
  podSelector: {{ $agentSelector | toYaml | nindent 4 }}
  policyTypes:
    - Ingress
  ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: {{ $releaseNamespace }}
        podSelector: {{ $doguSelector | toYaml | nindent 10 }}
---
{{ end }}