{{ $doguSelector := .Values.global.networkPolicies.doguSelector }}
{{ $agentSelector := .Values.global.networkPolicies.agentSelector }}
{{ $releaseNamespace := .Release.Namespace }}
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: agent-to-jenkins
spec:
  podSelector:
    {{ $doguSelector }}
  policyTypes:
    - Ingress
  ingress:
    - from:
      {{- range .Values.namespaces.names }}
      - namespaceSelector:
          matchLabels:
            kubernetes.io/metadata.name: {{ . | quote }}
        podSelector:
          {{ $agentSelector }}
      {{- end }}
---
{{ range .Values.namespaces.names }}
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: jenkins-to-agents
  namespace: {{ . | quote }}
spec:
  podSelector:
    {{ $agentSelector }}
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ $releaseNamespace }}
          podSelector:
            {{ $doguSelector }}
---
{{ end }}